<script setup lang="ts">
import MessagesList from './components/MessagesList.vue'
import NewMessageForm from './components/NewMessageForm.vue'
</script>

<template>
  <div class="page">
    <header>
    <h1 class="header">Replicated log demo</h1>
  </header>

  <main>
    <NewMessageForm />
    <MessagesList />
  </main>
  </div>
</template>

<style scoped>
.page {
  background-color: #f5f6fa;
  height: 100%;
  font: 1rem "PT Sans", sans-serif;
  margin: 48px 92px;
  padding: 24px 48px;
}

.header {
  text-align: center;
}
</style>
