<script setup lang="ts">
import { onMounted } from 'vue';
import { store, updateMessages } from '@/store';


onMounted(async () => {
  await updateMessages()
})

</script>

<template>
  <div v-if="store.messagesPrimary.length" class="container">
    <div>
      <h2>Stored messages for Primary:</h2>
      <ul class="list">
        <li class="item" v-for="(message, index) in store.messagesPrimary" :key="index">{{ message }}</li>
      </ul>
    </div>
    <div>
      <h2>Stored messages for Secondary 1:</h2>
      <ul class="list">
        <li class="item" v-for="(message, index) in store.messagesSecondary1" :key="index">{{ message }}</li>
      </ul>
    </div>
    <div>
      <h2>Stored messages for Secondary 2:</h2>
      <ul class="list">
        <li class="item" v-for="(message, index) in store.messagesSecondary2" :key="index">{{ message }}</li>
      </ul>
    </div>
  </div>
  <h2 class="header" v-else>No messages found</h2>
</template>

<style scoped>
.header {
  text-align: center;
}
.list {
  display: block;
  margin-left: -10px;
}

.list .item {
  display: block;
  position: relative;
}

.list .item:not(:last-child) {
  margin-bottom: 16px;
}

.list .item:before {
  content: "";
  position: absolute;
  top: 1.2em;
  left: -24px;
  margin-top: -.9em;
  background: linear-gradient(45deg, #f69ec4, #7f8ff4);
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.container {
  display: flex;
  justify-content: space-between;
}
</style>
