<script setup lang="ts">
import { ref } from 'vue';
import { addMessage } from '@/api';
import { updateMessages } from '@/store';


const value = ref('')
const loading = ref(false)

async function addNewMessage() {
  const newMessage = value.value
  loading.value = true
  if (newMessage) {
    await addMessage(newMessage)
    await updateMessages()
    value.value = ''
    setTimeout(updateMessages, 5000)
  }
  loading.value = false
}
</script>

<template>
  <div class="container" :class="{'add-space': !loading }">
    <label>
      <input :disabled="loading" class="input" ref="input" v-model.trim="value" type="text" placeholder="Add new message" @keypress.enter="addNewMessage">
    </label>
    <button :disabled="loading" class="btn" @click="addNewMessage">+ Add</button>
  </div>
  <div class="loading" v-show="loading">...loading</div>
</template>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.add-space {
  margin-bottom: 40px;
}
.btn {
  position: absolute;
  display: inline-block;
  background: #7f8ff4;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 2px;
  padding: 12px 36px;
  text-transform: uppercase;
  margin-left: 450px;
  font: inherit;
}
.btn:hover {
  background: darken(#7f8ff4, 4%);
}
.btn:hover {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}

.input {
  width: 360px;
  background: #fff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
  font: inherit;
}

.loading {
  margin-top: 16px;
  display: block;
  height: 24px;
  text-align: center;
}
</style>
